@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-slate-950 text-slate-50 antialiased;
}

/* Scrollbar ligera */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #020617;
}
::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 9999px;
}